<mat-toolbar color="primary">
    <a mat-button (click)="toMovies()" target="_blank" >
        <mat-icon>movie_filter</mat-icon>
        MyFlix</a>
    
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="toProfile()" class="person-icon" aria-label="Person icon-button">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button (click)="toLogout()" class="logout-icon" aria-label="Logout icon-button">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>